# Pastas de compilação (Pesadas e geradas automaticamente)
target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/

# Configurações de IDEs (Evita conflitos com outros devs)
.idea/
.vscode/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.springBeans

# Ficheiros de Sistema Operacional
.DS_Store
Thumbs.db

# Configurações locais e ficheiros com senhas (CRÍTICO)
application-dev.properties
application-local.properties
.env